# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs & temp
*.log
*.tmp
*.bak

# Python dev server artifacts
__pycache__/

# Node dev server artifacts
node_modules/
